# UNAH
## Facultad de Ingenieria
## Carrera de Ingenieria en sistemas
### Clase: Inteligencia Artificial

*Prueba*

In [92]:
import pandas as pd
import numpy as np

Segun el siguiente Dataset:

In [93]:
pd_vector = pd.DataFrame( { "num" : range(1,101) } )

In [94]:
pd_vector

    num
0     1
1     2
2     3
3     4
4     5
..  ...
95   96
96   97
97   98
98   99
99  100

[100 rows x 1 columns]

Y segun los siguientes metodos de numpy

In [95]:
np.var( pd_vector["num"] ) ## Calcula la varianza

833.25

In [96]:
np.std( pd_vector["num"] ) ## Calcula la desviacion estandard

28.86607004772212

## Responda las siguientes ejercicios

1. Grafique el Boxplot del vector "num"

In [109]:
pd_vector.boxplot()

2. Calcule la varianza y desviacion estandard de cada uno de los quartiles

Nota: realice manual la divicion del dataset para obtener cada uno de quartiles, al final obtendra cuatro dataframes

In [103]:
#Division del Dataframe

dfQ1=pd_vector.iloc[0:25]
dfQ2=pd_vector.iloc[25:50]
dfQ3=pd_vector.iloc[50:75]
dfQ4=pd_vector.iloc[75:100]

#Resultados

print("\nQ 1","\nVarianza : ",np.var(dfQ1["num"]),"\nDesviacion estandar : ",np.std(dfQ1["num"]))
print("\nQ 2","\nVarianza : ",np.var(dfQ2["num"]),"\nDesviacion estandar : ",np.std(dfQ2["num"]))
print("\nQ 3","\nVarianza : ",np.var(dfQ3["num"]),"\nDesviacion estandar : ",np.std(dfQ3["num"]))
print("\nQ 4","\nVarianza : ",np.var(dfQ4["num"]),"\nDesviacion estandar : ",np.std(dfQ4["num"]))

Q 1
Varianza :  52.0
Desviacion estandar :  7.211102550927978

Q 2
Varianza :  52.0
Desviacion estandar :  7.211102550927978

Q 3
Varianza :  52.0
Desviacion estandar :  7.211102550927978

Q 4
Varianza :  52.0
Desviacion estandar :  7.211102550927978

3. Explique la respuesta que obtuvo en el ejercicio dos, recuerde que se puede apoyar del grafico del ejercicio uno para hacer referencias sobre distribucion en caso de que sea necesario.

In [80]:
"""Lo obtenido en el ejercicio 2 significa que todos los quartiles tienen la misma dispersion de datos, lo cual tiene 
   sentido dado que el dataframe son los numeros del 1 al 100 sin alteraciones. Y al no tener alteraciones mantienen las misma
   distancia numerica entre ellos 
   Por ejemplo Q1 -> min:1 max:25 diferencia=24
               Q2 -> min:26 max:50 diferencia=24
               Q3 -> min:51 max:75 diferencia=24
               Q4 -> min:76 max:100 diferencia=24
   Por eso graficamente cada cuartil tiene el mismo tamaño           
   """

'Lo obtenido en el ejercicio 2 significa que todos los quartiles tienen la misma dispersion de datos, lo cual tiene \n   sentido dado que el dataframe son los numeros del 1 al 100 sin alteraciones. Y al no tener alteraciones mantienen las misma\n   distancia numerica entre ellos \n   Por ejemplo Q1 -> min:1 max:25 diferencia=24\n               Q2 -> min:26 max:50 diferencia=24\n               Q3 -> min:51 max:75 diferencia=24\n               Q4 -> min:76 max:100 diferencia=24\n   Por eso graficamente cada cuartil tiene el mismo tamaño           \n   '